.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.container-group {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    gap: 10px; /* Space between items */
    justify-content: center;
}
.form-container {
    display: flex;
    flex-direction: column; /* Arrange items horizontally */
    gap: 10px; /* Space between items */
    justify-content: center;
}
.info-group {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    gap: 10px; /* Space between items */
    justify-content: center;
}
.info-group label, .form-group label {
    font-weight: bold;
}
.info-group p {
    margin: 0;
}
.submitBtn {
    margin-left: auto;
    margin-right: auto;
    background-color: lightsteelblue;
    width: 10rem;
}